<a href="https://colab.research.google.com/github/QuothTheRaven42/learning_files/blob/master/Zelle_Python_Programming_ch5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
def acronym(words):
    # returns first letter of each word capitalized
    return ''.join([letter[0] for letter in words.upper().split()])

print(acronym('random access memory]'))

RAM

In [2]:
alpha = ' abcdefghijklmnopqrstuvwxyz'
numeric = range(27)
alphanumeric = dict(zip(alpha, numeric))

def num_value(name):
    # adding based on letters in name
    total = 0
    for letter in ' '.join(name):
        total += alphanumeric[letter.lower()]
    return total

print(num_value('John David Bankson'))

163

In [3]:
def encode(words):
    return ''.join([chr(ord(word)+1) for word in words])
def decode(cypher):
    return ''.join([chr(ord(word)-1) for word in cypher])

print(encode('David'))
print(decode(encode('David')))

Ebwje
David

In [4]:
def count_words(sentence):
    return len([word for word in sentence.split(' ')])

print(count_words('hello there world how are you'))

6

In [5]:
def avg_word_len(sentence):
    return round(sum(len(word) for word in sentence.split(' ')) / len(sentence.split(' ')))

print(avg_word_len('hello there world how are you doing this fine day'))

4

In [6]:
def investment():
    investing = float(input('amount investing: '))
    interest = float(input('interest rate: '))
    years = int(input('years for investment: '))
    total = list()
    total.append(str(investing))
    for amount in range(years-1):
        investing += investing * (interest/100)
        total.append(str(round(investing, 2)))

    max_len = max(len(i)+5 for i in total)
    print('Year     Value\n------------')
    for key, item in enumerate(total):
        print(key, '{0:>{1}}'.format(item, max_len))

investment()

amount investing: 200
interest rate: 8.9
years for investment: 10
Year     Value
------------
0       200.0
1       217.8
2      237.18
3      258.29
4      281.28
5      306.32
6      333.58
7      363.27
8       395.6
9      430.81